.get-started {
  background: url(../assets/Images/england.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 3.875rem;
  flex-grow: 1;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .get-started__heading {
  font-size: 4rem;
  color: white;
  align-self: flex-start;
  margin-bottom: 3.875rem;
} */

.get-started__heading {
  display: block;
  width: 85%;
  margin: 2rem auto 2rem;
  color: white;
  font-size: 4rem;
}

.card--get-started {
  min-width: 37.5rem;
  min-height: 23.4375rem;
  background-color: white;
  padding: 2rem;
}

.card__item--heading {
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 1rem;
}

.card__form {
  display: flex;
  flex-direction: column;
}

.card__form-label {
  margin-top: 1.5rem;
}

.card__form-select {
  font-size: 1.5rem;
}

.card__form-textinput {
  font-size: 1rem;
}

.button--get-started {
  align-self: center;
  margin-top: 3rem;
  border: none;
  cursor: pointer;
}
