* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted black; */
}

.wholesite {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #335576;
  display: flex;
  flex-direction: column;
}

/* ------------------ main section ------------------ */

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.header__item {
  margin: 0rem 4.75rem;
}

.header__name {
  display: inline-block;
  box-sizing: border-box;
  color: #335576;
  padding: 1.25rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.header__name--link {
  text-decoration: none;
}

.header__name--link:visited {
  color: #335576;
}

.header__name--link:hover {
  padding-bottom: 1rem;
  border-bottom: 5px solid #335576;
}

.header__navitem {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1rem;
}

.header__navlink {
  padding: 1.25rem 0rem;
  margin: 0rem 0.5rem;
  text-decoration: none;
  color: black;
}

.header__navlink--active {
  border-bottom: 5px solid #db784e;
}

.header__navlink:hover {
  border-bottom: 5px solid #335576;
}

.header__navlink:visited {
  color: black;
}

/* ------------------ global card styles ------------------ */

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6rem;
  width: 100%;
}

.card {
  min-width: 15.625rem;
  min-height: 23.4375rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}

/* ------------------ global footer styles ------------------ */

.page-footer {
  min-height: 20vh;
  background-color: #fefaf5;
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
}

.page-footer__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.page-footer__item-subtitle {
  color: #db7a4e;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.page-footer__item-subtitle--hidden {
  visibility: hidden;
}

.page-footer__item-desc {
  vertical-align: bottom;
}

.page-footer__contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  line-height: 1.875rem;
}

.page-footer__contents--column {
  flex-direction: column;
}

.page-footer__hours {
  display: flex;
  /* width: 33%; */
  flex-direction: column;
}

.page-footer__icon-container {
  display: flex;
  justify-content: space-between;
}

.page-footer__social-icon {
  max-width: 1.875rem;
  max-height: 1.875rem;
}

.page-footer__item--middle {
  width: 50%;
  /* padding: 1rem 10rem; */
  /* padding: 1rem 6rem; */
}

.page-footer__item--outsides {
  width: 24%;
}
