* {
  /* border: 1px dotted black; */
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #335576;
}

/* ------------------ main section ------------------ */

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  margin: 0rem 4.75rem;
}

.header__name {
  color: #335576;
  padding: 1.25rem;
  font-size: 2rem;
  font-weight: bold;
}

.header__name--link {
  text-decoration: none;
}

.header__name--link:visited {
  color: #335576;
}

.header__name--link:hover {
  padding: 1.25rem 0rem;
  border-bottom: 5px solid #335576;
}

/* .header__navlist {} */

.header__navitem {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.header__navlink {
  padding: 1.25rem 0rem;
  margin: 0rem 1.25rem;
  text-decoration: none;
  color: black;
}

.header__navlink--active {
  border-bottom: 5px solid #db784e;
}

.header__navlink:hover {
  border-bottom: 5px solid #335576;
}

.header__navlink:visited {
  color: black;
}

/* card styles */

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 18.75rem;
  height: 28.125rem;
  margin: 0.75rem 3rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
