/* ------------------ hero section ------------------ */

.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.875rem;
}

.hero__content {
  padding-left: 3rem;
  min-height: 40vh;
  max-width: 45%;
}

.hero__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.hero__content--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  max-width: 35vw;
  margin: 2rem;
}

.hero__heading {
  display: inline-block;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.hero__description {
  display: inline-block;
}

/* ------------------ main section ------------------ */

.recommend {
  flex-grow: 1;
  width: 100%;
}

.recommend__heading {
  display: block;
  width: 85%;
  margin: 4rem auto 2rem;
}

.card--mainpage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
  padding: 0.75rem;
}

.card--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card--iceland {
  background-image: url(../assets/Images/iceland.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card--greece {
  background-image: url(../assets/Images/greece.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
